/* components/buttonitem/buttonitem.wxss */

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -10rpx;
}

.text {
  display: inline-block;
  width: 100%;
  word-break:break-all; //英文
  white-space:pre-wrap; //中文
  margin: 20rpx 0 20rpx 30rpx;
}

.intro {
  display: inline-block;
  margin: -20rpx 0rpx 10rpx 30rpx;
  max-width: 80%;
  color: rgb(167, 163, 167);
  overflow: hidden;
  white-space:nowrap;
  font-size: 26rpx !important;
}

.info-text {
  color: #333;
  font-size: 40rpx;
  font-weight: 600;
  font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
}

.op {
  display: block;
  width: 46vw;
  margin: 20rpx 0rpx;
  border-radius: 10rpx;
  background-color: #fff !important;
  box-shadow: 0 8rpx 12rpx rgba(0, 0, 0, 0.18);
}

.op1 {
  background-color: rgb(236, 100, 16);
}

.op2 {
  background-color: skyblue;
}

.op3 {
  background-color: rgb(10, 165, 10);
}

.op4 {
  background-color: tan;
}