/* pages/login/login.wxss */
.login-container {
  height: 100vh;
  position: relative;
  background-image: url('http://82.157.232.71/images/wx/abc-bg.jpg');
  background-position: 30%;

  .login-btn {
    position: absolute;
    top: 78vh;
    left: 10vw;
  }
  
  .button-login {
    width: 80vw;
    font-size: 35rpx;
    letter-spacing: 5rpx;
    border-radius: 12rpx;
  }
}