/**index.wxss**/
.container1 {
  height: 100vh;
  background-color: rgb(247,248,250);
  padding-top: 20rpx;

  .message {
    margin: 5rpx 20rpx 0 20rpx;
    border-radius: 6rpx;
  }

  .project-info {
    height: 400rpx;
    margin: 0rpx 20rpx 20rpx 20rpx;
    box-shadow: 0 8rpx 10px rgba(0, 0, 0, 0.2);
    border-radius: 12rpx;

    .swiper-container {
      height: 100%;

      .swipper-image {
        width: 100%;
        height: 100%;
        border-radius: 12rpx;
      }

      .swiper-item {
        margin: 50rpx 50rpx 60rpx;
        font-size: 34rpx;
        text-indent: 1.5em;
      }
    }
  }
  .operation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20rpx 0;

    .svgimg {
      width: 40%;
      height: 180rpx;
      display: block;
      margin: 10rpx auto 0;
    }

    .text {
      display: inline-block;
      width: 100%;
      font-size: 42rpx;
      word-break:break-all; //英文
      white-space:pre-wrap; //中文
      text-align: center;
      margin: 0 0 20rpx 0;
    }

    .op {
      width: 40%;
      margin: 20rpx 20rpx;
      color: #fff;
    }

    .op1 {
      background-color: rgb(236, 100, 16);
    }

    .op2 {
      background-color: skyblue;
    }

    .op3 {
      background-color: rgb(10, 165, 10);
    }

    .op4 {
      background-color: tan;
    }
  }

  // .index-op {
  //   margin: 20rpx 0;

  //   .text {
  //     display: inline-block;
  //     width: 100%;
  //     font-size: 36rpx;
  //     word-break:break-all; //英文
  //     white-space:pre-wrap; //中文
  //     text-align: center;
  //     margin: 0 0 20rpx 0;
  //   }
  // }
}