/* pages/book/book.wxss */
/* pages/userinfo/userinfo.wxss */
.user-container {
  background-color: rgb(247,248,250);
}

.user-head {
  padding-top: 0rpx;
  margin: 0rpx 20rpx 0 20rpx;
  padding-bottom: 0rpx;
  border-bottom: 1px dashed #ccc;

  .head {
    margin: 40rpx 0;
    display: inline-block;
    font-size: 48rpx;
    color: #0095ff;
    width: 100%;
    text-align: center;
    font-family: "宋体",sans-serif;
    font-weight: bold;
  }

  .content {
    display: inline-block;
    margin: 10rpx 20rpx;
    font-size: 30rpx;
    line-height: 48rpx;
    font-family: "PingFang SC", "helvetica neue", arial, 阿里巴巴普惠体, "思源黑体 CN", "microsoft yahei ui", "microsoft yahei", "sans-serif";
    // text-indent: 1.5em;
  }
}

.field {
  margin: 0 0 10px 0;
  clear: both;
  padding: 20px;
  border: 1px solid transparent;

  .q-title {
    font-size: 36rpx;
    margin-bottom: 20rpx;
  }

  .q-content {
    margin: 12rpx 0 0 36rpx;

    .q-item {
      padding: 8px 10px 8px 0;
    }
  }
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20rpx 0 0 0;
  padding-bottom: 60rpx;

  .button {
    width: 250rpx !important;
  }
}

.body-info {
  border-bottom: 1px dashed #ccc;
}