<html>
<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form>
    <fieldset>
        <legend>登录</legend>
        <div id="left"style="float: left;width: 40%">
    Name: <br><input type="text" size="30"><br>
    Email: <br><input type="text" size="30"><br>
    性别： <select>
            <option value="男">男</option>
            <option value="女">女</option>
            <option value="无">无</option>
        </select><br>
    性趣：<check>
            <input type="checkbox" name="xp" value="萝莉"checked="checked"/>萝莉
            <input type="checkbox" name="xp" value="辣妹"checked="checked">辣妹
            <input type="checkbox" name="xp" value="御姐" checked="checked">御姐
        </check>
        </div>
        <div id="right" style="float: right ;width: 40%">
            <img src="/img/天空克莱因蓝.png" width="40%" height="40%">
        </div>
    </fieldset>

</form>
</body>
</html>
</html>