<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.TreeNewKing.bzyWechat.dao.ProblemMapper">
    <select id="selectByPage" resultType="com.TreeNewKing.bzyWechat.model.entity.Problem">
        select * from user ${ew.customSqlSegment}
    </select>
    <insert id="insertRecordDetail">
        insert into record_detail(id,recordId,problemId,optionsId,type)value(REPLACE(UUID(),'-',''),#{recordId},#{problemId},#{optionsId},#{type})
    </insert>
</mapper>