<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.TreeNewKing.bzyWechat.dao.UserMapper">

    <select id="selectByPage" resultType="com.TreeNewKing.bzyWechat.model.entity.User">
        select * from user ${ew.customSqlSegment}
    </select>

    <insert id="insertPrimaryInfoByOpenId">
        insert into survey_record(id,userId,createTime,modifyTime,wight,height,favoriteTea,teaAge,lifeIn,growthIn,professional)
        SELECT  #{id}, id ,#{createTime},#{modifyTime},#{wight},#{height},#{favoriteTea},#{teaAge},#{lifeIn},#{growthIn},#{professional} from `user` WHERE openid=#{openId}
    </insert>





</mapper>